.our__container {
    max-width: 1240px;
    margin: 0 auto;
}

.our__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our__taxt {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our__products {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
}

.our__img {
    width: 264px;
    height: 264px;
}

.our__plus {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
}

.our__box {
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 8px 8px;
    max-width: 280px;
}

.our__food {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #667479;
    margin: 0;
    padding: 4px 0;
}

.our__adult {
    padding: 8px;
}

.our__box2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #00171F;
}

.our__shaker {
    display: flex;
    align-items: center;
    background: #FCEED5;
    border-radius: 8px;
    margin-top: 10px;
}

.our__imge {
    width: 20px;
    height: 20px;
}

.our__box3 {
    width: 20px;
    height: 24px;
}

.our__free {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #002A48;
}

.our__pets {
    margin-top: 28px;
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-columns: repeat(auto-fill, minmax(285px, 280px));
    row-gap: 20px;
    column-gap: 20px;
}

@media screen and (max-width:650px) {
    .our {
        display: none;
    }
}
