.sellers__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}


.sellers__taxt {
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
}

.sellers__span {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
}

.sellers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sellers__box2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sellers__imge {
    width: 148.43px;
    height: 112px;
}

.sellers__explore {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bgi__container {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(../../img/Banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 64px 0 56px 85px;
    margin-bottom: 60px;
}

.selllers__adopt {
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    color: #003459;

}

.sellers__need {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #003459;
}

.sellers__pet {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242B33;
    text-align: start;
}

@media screen and (max-width:1000px) {
    .sellers {
        display: none;
    }
}

